body{
    font-family: Roboto, A2rial, Helvetica, sans-serif;
}

.mobile_phones{
    padding: 8px;
}

.popular_searches{
display: flex;
gap: 8px;
color: rgb(0, 47, 52);
font-size: 12px;
font-weight: 700;
}

.popular_searches ul,.mobile_breadcrumbs ul{
    display: flex;
    gap: 8px;
    list-style: none;
    justify-content: flex-start;
}

.popular_searches ul li a, .popular_searches ul li, .mobile_breadcrumbs ul li a, .mobile_breadcrumbs ul li{
    text-decoration: none;
    color: rgba(0, 47, 52, 0.64);
}

.popular_searches ul li a:hover,.mobile_breadcrumbs ul li a:hover{
    color: rgba(0,47,52,1);
}

.mobile_breadcrumbs{
    height: auto;
    margin: 15px 0;
    font-size: 12px;
    
}

.mobile_breadcrumbs ul li{
    color: rgba(0, 47, 52, 0.64);
}

.mobile_phones h1{
    font-size: 24px;
    margin: 0 0 8px;
    color: rgba(0,47,52,1);
}

.mobile_sidebar{
    width: 25%;
}

.sidebar_sub{
    margin: 8px 16px 0 0;
}

.sidebar_section{
    padding: 0 0 28px;
}

.sb_section_heading{
    display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
}

.sb_section_text{
    color: rgba(0,47,52,1);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}

#chevronToggle{
    align-self: end;
    color: rgb(0, 47, 52);
}

.category_list{
    display: block;
    padding: 16px 0 0;
}

.sb_subcategories{
    max-height: 166px;
    overflow-y: auto;
    display: initial;
}

.sb_subcat_item{
    color: rgba(0,47,52,1);
    font-weight: 700;
    margin: 0 0 16px;
    font-size: 14px;
    text-decoration: none;
}

.sb_details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sb_line{
    width: 16px;
    margin-right: 16px;
    border: 1px solid rgba(0,47,52,1);
    border-radius: 1px;
}

.second_item{
    padding: 8px 0 8px 8px;
    display: block;
    font-weight: inherit;
    color:rgba(0, 47, 52, 0.64);
    margin-bottom: 0px;
}

.sb_mini_list{
    margin-left: 16px;
    list-style: none;
    display: initial;
}

.sb_mini_list_item{
    margin-left: 8px;
}

.sb_mini_list_item a{
    margin: 0;
    padding: 8px 0 8px 20px;
    display: block;
    font-size: 14px;
    color: rgba(0, 47, 52, 0.64);
    text-decoration: none;
}

.sb_mini_list_item.active a{
    font-weight: 700;
    background-color: rgb(200, 248, 246);
    color: rgb(0, 47, 52);
}

.section_second{
    padding: 32px 0 28px;
    border-top: 1px solid rgba(14,4,5,0.2);
}

.section_second .sb_subcategories .second_item{
    padding: 4px 0px 4px 8px;
}

.section_second .sb_subcategories .sb_mini_list{
    margin-left: 0px;
    color: rgba(0,47,52,1);
}

.section_second .sb_subcategories .sb_mini_list a{
    padding: 4px 0 4px 8px;
    margin-left: 24px;
    color: rgba(0,47,52,1);
    font-weight: 700;
}

.section_second .sb_subcategories .second_item .sb_details{
    color: rgba(0,47,52,1);
    font-weight: 700;
}

.popular_brand_section{
    display: block;
    padding: 16px 0 0;
}

.popular_brand_section_heading{
    color: rgba(0,47,52,0.64);
    margin: 0 0 14px;
}

.popular_brand_items,.all_brand_items{
    max-height: 200px;
    overflow-y: auto;
}

.all_brand_items{
    max-height: 200px;
    overflow-y: auto;
}

.popular_brand_item,.all_brand_item{
    font-size: 14px;
    cursor: pointer;
    min-height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.popular_brand_checkbox,.all_brand_checkbox{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.popular_brand_checkbox input[type=checkbox],.all_brand_checkbox input[type=checkbox] {
   border: 1px solid black;
    position: relative;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.popular_brand_label,.all_brand_label{
    cursor: pointer;
    padding-left: 4px;
    font-size: 14px;
    color: rgba(0,47,52,1);
    flex: 1;
    align-self: center;
}

.popular_brand_label a,.all_brand_label a{
    color: rgb(0, 47, 52);
    text-decoration: none;
    font-size: 14px;
}

.all_brand_section_heading{
    margin-top: 16px;
    margin-bottom: 14px;
    color: rgba(0,47,52,0.64);
    font-size: 14px;
}

.mobile_main_section{
    display: flex;
}

.mobile_center_section{
    width: 75%;
    margin-top: 8px;
}

.mobile_center_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_center_heading{
    display: flex;
    align-items: center;
    padding: 0 0 4px;
}

.mobile_center_heading p{
    margin: 0;
    color: rgba(0,47,52,1);
    font-size: 14px;
    line-height: 20px;
}

.mobile_center_right{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-align: right;
    color: rgba(0,47,52,1);
    margin-left: 16px;
    margin-bottom: 8px;
    padding-left: 16px;
    position: relative;
}

.mobile_center_sort{
    text-transform: uppercase;
    font-weight: 700;
}

.mobile_center_right .fa-chevron-up::before,
.mobile_center_right .fa-chevron-down::before{
    margin-left: 30px;
}

.mobile_center_top{
    border-bottom: 1px solid rgba(14,4,5,0.2);
}

.mobile_card{
    height: 266px;
    width: calc(33.33333% - 16px);
    position: relative;
}

.mobile_card a{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
    width: 100%;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(14,4,5,0.2);
    overflow: hidden;
    border-radius: 4px;
}

.mobile_card a img{
    padding: 8px;
    overflow: hidden;
    max-height: 100%;
    display: block;
    margin: auto;
    width: 100%;
    object-fit: cover;
}

.mobile_card_details{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding: 8px 16px;
}

.mobile_card_price{
    text-align: left;
    display: block;
    color: rgba(0,47,52,1);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobile_card_desc{
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    text-align: left;
    display: block;
    color: rgba(0,47,52,0.64);
    font-size: 14px;
    margin: 5px 0;
}

.mobile_card_add{
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    text-transform: uppercase;
    color: rgba(0,47,52,0.64);
    font-size: 10px;
    margin-top: 12px;
}

.mobile_card_add1{
    max-width: 75%;
    color: rgba(0,47,52,0.64);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mobile_card_add2{
    text-transform: uppercase;
    margin-left: auto;
}

.mobile_card_section{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.selling_card{
    padding: 16px;
    background: #3a77ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selling_card_details{
    color: rgba(255,255,255,1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 20px;
}

.selling_card_heading{
    font-size: 16px;
    margin: 0;
}

.selling_card_subheading{
    margin-top: 20px;
    font-size: 14px;
    line-height: normal;
}

.selling_btn{
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1);
    border-radius: 4px;
    border: 2px solid rgba(255,255,255,1);
    padding: 0 10px;
    width: 100%;
    font-size: 14px;
    height: 40px;
    background-color: #3a77ff;
}

.like_heart{
    top: 14px;
    right: 14px;
    position: absolute;
    z-index: 4;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-heart{
    font-size: 16px;
}

.fa-solid.fa-heart{
    color: red;
}

.sort_items{
    width: 100%;
    z-index: 9;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    position: absolute;
    background-color: rgba(255,255,255,1);
    color: rgba(0,47,52,0.64);
    left: 0;
    top: 40px;
    display: none;
}

.sort_items.active{
    display: block;
}

.sort_item{
    height: 48px;
    font-size: 14px;
    text-align: inherit;
    color: rgba(255,255,255,1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sort_item:hover{
    background-color: #c8f8f6;
}

.sort_detail{
    font-size: 14px;
    text-align: left;
    color: rgba(0,47,52,1);
    padding: 0 0 0 40px;
}
/* load more button */
.btn-container button{
    margin-top: 50px ;
    margin-left: 340px;
    margin-bottom: 100px;
     padding: 0 10px;
     border: 2px solid #002F34;
     border-radius: 4px;
     font-size: 16px;
     height: 48px;
     font-weight: 700;
     overflow: hidden;
}

@media screen and (max-width: 800px) {
    header,.sub-header,.upper-main,aside,.heading-mainbar,.popular_searches,.mobile_breadcrumbs,.mobile_phones h1,.mobile_sidebar,.mobile_center_top{
        display: none !important;
    }

    .mobile_card{
        height: unset;
        width: 360px;
    }

    .mobile_card a{
        flex-direction: row;
    }

    .mobile_card a img{
        height: 130px;
        width: 130px;
        min-width: 130px;
        padding: 0;
    }

    .mobile_card_section{
        padding: 0px;
    }

    .btn-container button{
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
    }

    .mobile_center_section{
        width: unset;
    }
    
    .mobile_card_price{
        font-size: 16px;
    font-weight: 700;
    letter-spacing: .16px;
    }

    .mobile_card_desc{
        font-size: 12px;
        overflow-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    }

    .mobile_card_add{
        margin-top: auto;
    }

    .like_heart{
        top: 0px;
        right: 5px;
    }
    
    .mobile_navbar{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 8px;
        background-color: #fff;
        z-index: 50;
    }
    
    .mobile_navbar_items{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;   
    }
    
    .mobile_navbar_left{
        display: flex;
        align-items: center;
        color: rgba(0,47,52,1);
    }
    
    .mobile_navbar_left i{
        color: rgba(0,47,52,1);
        cursor: pointer;
      font-size: 20px;
        padding: 10px;
    }
    
    .mobile_logo a svg{
        height: 100%;
        color: transparent;
        display: block;
    }
    
    .mobile_navbar_right{
        display: flex;
        gap: 8px;
    }
    
    .mobile_nav_place{
        user-select: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: rgba(0,47,52,1);
        font-weight: 600;
    }
    
    .mobile_search_bar{
        display: flex;
        width: 100%;
        height: 40px;
        margin: 8px 0 0;
        background: rgba(255,255,255,1);
        display: flex;
        padding: 12px 16px;
        align-items: center;
        box-sizing: border-box;
        border: 2px solid rgba(0,47,52,1);
        border-radius: 4px;
        cursor: pointer;
    }
    
    .mobile_search_text{
        margin-left: 10px;
        font-size: 16px;
        color: rgba(0,47,52,0.64);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .accordian{
        position: fixed;
        left: 0;
        top: 56px;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,1);
        transition: all .3s ease;
        overflow-y: auto;
        display: none;
    }
    
    .accordian_hero{
        display: flex;
        align-items: center;
        margin: 0 16px 16px;
        box-sizing: border-box;
        padding: 20px 16px 20px 0;
        border-top: 1px solid rgba(14,4,5,0.2);
    }
    
    .accordian_hero img{
        width: 60px;
        height: 60px;
    }
    
    .accordian_hero_details{
        display: inline-flex;
        flex-direction: column;
        text-decoration: none;
        padding: 0 0 0 12px;
    }
    
    .accordian_header{
        margin: 0 0 4px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: #002f34;
    }
    
    .accordian_subtext{
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #7f9799;
    }
    
    .accordian_items{
        border-top: 1px solid rgba(14,4,5,0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .accordian_items a{
        display: flex;
        align-items: center;
        padding: 0 16px;
        text-decoration: none;
        color: rgba(0,47,52,1);
        height: 48px;
        font-size: 16px;
    }
    
    .accordian_items a i{
        padding: 2px 16px 0 0;
    }
    
    .accordian_items a span{
        font-size: 16px;
        color: rgba(0,47,52,1);
    }
    
    .accordian_login_btn{
        padding: 16px;
        width: 100%;
        box-sizing: border-box
    }
    
    .accordian_login_btn button{
        color: rgba(255,255,255,1);
        background-color: #002f34;
        border-radius: 4px;
        border: 5px solid #002f34;
        padding: 0 7px;
        width: 100%;
        font-size: 16px;
        height: 48px;
    }
    
    .acc_sec{
        border-top: 1px solid rgba(14,4,5,0.2); 
    }
    
    .mobile_cat_section{
        padding: 16px 0;
    }
    
    .mob_cat_details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 16px;
    }
    
    .mob_cat_dets{
        font-weight: 700;
    }
    
    .mob_cat_dets a{
        color: #002f34;
        border-bottom: 2px solid #002f34;
        padding: 0;
        height: auto;
        font-size: 14px;
    }
    
    .mob_cat_items{
        display: flex;
        font-size: 10px;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        overflow-y: scroll;
    }
    
    .mob_cat_item{
        display: flex;
        justify-content: center;
        text-decoration: none;
        text-align: center;
        border: none;
        box-sizing: border-box;
        color: rgba(0,47,52,1);
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .mob_cat_item a{
        color: inherit;
        text-decoration: inherit;
        width: 28.57143vw;
        margin: 10px 0;
    }
    
    .mob_cat_item a img{
        width: 48px;
        height: 48px;
    }
    
    .mob_cat_text{
        font-size: 10px;
        line-height: 11.5px;
        min-height: 22px;
        text-transform: uppercase;
        margin: 8px 0 0;
    }
    
    .mob_home_cat{
        font-size: 12px;
        padding: 0;
        margin: 16px 0;
        color: rgba(0,47,52,0.64);
        padding-left: 15px;
    }
    
    .mob_ads{
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .mainbar li{
        width: 360px;
        height: inherit;
        position: relative;
    }
    
    .mainbar li a{
        flex-direction: row;
    }
    
    .img label{
        display: none;
    }
    
    .featured-list .text{
        border-left: none;
    }
    
    .mainbar .img img{
    height: 105px;
    width: 150px;
    }
    
    .mainbar .img{
        margin: inherit;
        height: 105px;
    width: 150px;
    }
    
    .mainbar li .text{
        font-size: 14px;
        line-height: 20px;
        color: #002f34;
        padding: 8px 16px 10px;
    }
    
    .text h1{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: .16px;
    }
    
    .text .span1{
        opacity: .8;
        font-size: 12px;
    }
    
    .text .span2{
        font-size: 14px;
        font-weight: 600;
        padding: 8px 0 0;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 155px;
    }
    
    .text .spanflex{
        font-size: 10px;
        line-height: 1.6;
        letter-spacing: .63px;
        display: flex;
        justify-content: space-between;
    }
    
    .spanflex-1{
        width: min-content;
    }
    
    .sell-main a{
    display: initial !important;
    }
    
    .selling-text{
        margin-bottom: 15px;
    }
      
    .mob_var_items{
        height: 100%;
        min-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        overflow-y: scroll;
        box-sizing: border-box;
        flex-direction: column;
        background-color:#fff;
        z-index: 100;
    }
    
    .mob_var_header{
        padding: 0 8px;
        display: flex;
        height: 68px;
        align-items: center;
        box-sizing: border-box;
        background-color: rgba(0,47,52,0.03);
    }
    
    .mob_var_header i{
        margin-right: 16px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-style: none;
        background: none;
        outline: none;
        cursor: pointer;
        overflow: hidden;
        text-decoration: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 0;
    }
    
    .mainbar .img svg{
            position: absolute;
        top: 5px;
        left: 120px;
        width: 24px !important;
    }
    
    footer{
        display: none;
    }
    
    .mob_foot_header{
        display: flex;
        border-top: 1px solid rgba(14,4,5,0.2);
    }
    
    .mob_foot_header div{
        padding: 16px 24px;
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    
    .mob_foot_header i{
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mob_footer{
        margin-top: 30px;
    }
    
    .mob_footer_details{
        margin: 0;
        padding: 8px 12px;
        background: rgba(235,238,239,1);
        display: none;
    }
    
    .mob_footer_item{
        font-size: 14px;
        line-height: 2.74;
        list-style-type: none;
    }
    
    .mob_footer_item a{
        text-decoration: none;
        color: rgba(0,0,0,1);
    }
    
    .mob_footer_socials{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        border-top: 1px solid rgba(14,4,5,0.2);
        border-bottom: 1px solid rgba(14,4,5,0.2);
    }
    
    .follow-svg{
        margin-top: 0px;
    }
    
    .follow-button{
        margin: 20px 0;
        justify-content: center;
    }
    
    .inside-footer-end{
        justify-content: center;
        padding: 30px;
    }
    
    .mainbar{
        margin-left: 0;
    }

    .text .spanflex span:first-of-type{
        white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: unset;
    }
    }
    
    @media screen and (min-width: 800px){
        .mobile_navbar,.mobile_cat_section,.mob_home_cat,.mob_ads,.mob_footer{
            display: none;
        }
    }

